Repository HunterPie/HunterPie, pull requests merged in 2022-08, with the labels that each got.

#159 Hotfix(Data): Fix chain crit offset
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/Overlay/Widgets/Abnormality/AbnormalityContextHandler.cs
  HunterPie/Game/Rise/Data/AbnormalityData.xml
  HunterPie/Properties/AssemblyInfo.cs
Labels: bug

#156 Feat(UI|Core|Native): Added Otomos bar
  HunterPie.Core.Tests/HunterPie.Core.Tests.csproj
  HunterPie.Core/Client/Configuration/Overlay/DamageMeterWidgetConfig.cs
  HunterPie.Core/Domain/Enums/GameProcess.cs
  HunterPie.Core/Extensions/IntExtensions.cs
  HunterPie.Core/Extensions/ObservableCollectionExtensions.cs
  HunterPie.Core/Extensions/StructExtensions.cs
  HunterPie.Core/Game/Client/IPartyMember.cs
  HunterPie.Core/Game/Enums/MemberType.cs
  HunterPie.Core/Game/Rise/Definitions/MHRPartyMemberData.cs
  HunterPie.Core/Game/Rise/Entities/MHRPartyMember.cs
  HunterPie.Core/Game/Rise/Entities/Party/MHRParty.cs
  HunterPie.Core/Game/Rise/Entities/Party/MHRPartyMember.cs
  HunterPie.Core/Game/World/Entities/Party/MHWPartyMember.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Core/Native/IPC/Models/Common/EntityType.cs
  HunterPie.Core/Settings/SettingField.cs
  HunterPie.Memory/HunterPie.Memory.csproj
  HunterPie.UI/Architecture/Extensions/ObjectExtensions.cs
  HunterPie.UI/Architecture/Test/MockBehavior.cs
  HunterPie.UI/Controls/Settings/ViewModel/SettingHostViewModel.cs
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/HunterPie.UI.csproj.user
  HunterPie.UI/Overlay/Widgets/Damage/DamageMeterWidgetContextHandler.cs
  HunterPie.UI/Overlay/Widgets/Damage/Helpers/PlayerConfigHelper.cs
  HunterPie.UI/Overlay/Widgets/Damage/View/DamageBarView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/View/DamageBarView.xaml.cs
  HunterPie.UI/Overlay/Widgets/Damage/View/MeterView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/View/PetsDamageView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/View/PetsDamageView.xaml.cs
  HunterPie.UI/Overlay/Widgets/Damage/View/PlayerDamageView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/ViewModels/DamageBarViewModel.cs
  HunterPie.UI/Overlay/Widgets/Damage/ViewModels/MeterViewModel.cs
  HunterPie.UI/Overlay/Widgets/Damage/ViewModels/MockMeterViewModel.cs
  HunterPie.UI/Overlay/Widgets/Damage/ViewModels/PetsViewModel.cs
  HunterPie.UI/Overlay/Widgets/Damage/ViewModels/PlayerViewModel.cs
  HunterPie.UI/Resources/Icons.xaml
  HunterPie.UI/Settings/VisualConverterManager.cs
  HunterPie/Languages/en-us.xml
  HunterPie/Properties/AssemblyInfo.cs
Labels: enhancement, core, UI, native, Rise

#160 Feat(Core|UI): Theme support
  HunterPie.Core/Client/Configuration/ClientConfig.cs
  HunterPie.Core/Domain/Generics/GenericFolderSelector.cs
  HunterPie.UI/Overlay/Widgets/Abnormality/View/AbnormalityBarView.xaml
  HunterPie.UI/Overlay/Widgets/Activities/View/ActivitiesView.xaml
  HunterPie.UI/Overlay/Widgets/Chat/Views/ChatView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/View/MeterView.xaml
  HunterPie.UI/Overlay/Widgets/Monster/Views/MonstersView.xaml
  HunterPie.UI/Overlay/Widgets/SpecializedTools/Views/SpecializedToolView.xaml
  HunterPie.UI/Overlay/Widgets/Wirebug/Views/WirebugsView.xaml
  HunterPie.UI/Resources/Styles.xaml
  HunterPie/HunterPie.csproj
  HunterPie/HunterPie.csproj.user
  HunterPie/Internal/InitializerManager.cs
  HunterPie/Internal/Initializers/CustomThemeInitializer.cs
  HunterPie/Themes/Default/MonsterWidget.xaml
  HunterPie/Themes/Minimal/MonsterWidget.xaml
Labels: enhancement, core, UI

#162 Feat(Core): Added support for MHR v11.0.1.0
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Memory/HunterPie.Memory.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/Address/MonsterHunterRise.11.0.1.0.map
  HunterPie/HunterPie.csproj
  HunterPie/Properties/AssemblyInfo.cs
Labels: core, Rise

#164 Feat(Data): Added support for new monsters
  HunterPie.Native/Games/Rise/Utils/RiseUtils.cpp
  HunterPie/Game/Rise/Data/MonsterData.xml
  HunterPie/Languages/en-us.xml
Labels: Rise

#165 Hotfix(Core): Fixed monster list not being scanned properly
  HunterPie.Core/Game/Rise/MHRGame.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/Properties/AssemblyInfo.cs
Labels: bug

#166 Fix(Data|Native): Fixed Damage meter not counting damage done to new monsters, mapped new monsters part names
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Native/Games/Rise/Utils/RiseUtils.cpp
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/Game/Rise/Data/MonsterData.xml
  HunterPie/Properties/AssemblyInfo.cs
Labels: bug, Rise

#170 Feat(Core|UI): Add mr dmg meter
  HunterPie.Core/Game/Client/IPartyMember.cs
  HunterPie.Core/Game/Rise/Definitions/MHRCharacterData.cs
  HunterPie.Core/Game/Rise/Entities/MHRPlayer.cs
  HunterPie.Core/Game/Rise/Entities/Party/MHRPartyMember.cs
  HunterPie.Core/Game/World/Definitions/MHWPartyMemberData.cs
  HunterPie.Core/Game/World/Definitions/MHWPartyMemberLevelStructure.cs
  HunterPie.Core/Game/World/Entities/MHWPlayer.cs
  HunterPie.Core/Game/World/Entities/Party/MHWPartyMember.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Native/Games/Rise/Utils/RiseUtils.cpp
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/Overlay/Widgets/Damage/DamageMeterWidgetContextHandler.cs
  HunterPie.UI/Overlay/Widgets/Damage/View/PetsDamageView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/View/PlayerDamageView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/ViewModels/PlayerViewModel.cs
  HunterPie/Game/Rise/Data/MonsterData.xml
  HunterPie/Properties/AssemblyInfo.cs
Labels: enhancement, core, UI, Rise

#168 Update ko-kr for Sunbreak Title update 1
  HunterPie/Languages/ko-kr.xml
Labels: Localization

#169 Fix(Localization): Missing Monster Names in German and new Stage name
  HunterPie/Languages/de-de.xml
  HunterPie/Languages/en-us.xml
Labels: Localization

#171 Feat(Data): Support new monsters size multiplier
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/Game/Rise/Data/MonsterData.xml
  HunterPie/Properties/AssemblyInfo.cs
Labels: Rise

#172 Feat(Core|UI): Add meowcenaries and cohoot
  HunterPie.Core/Client/Configuration/Overlay/ActivitiesWidgetConfig.cs
  HunterPie.Core/Game/Enums/ActivityType.cs
  HunterPie.Core/Game/Rise/Definitions/MHRCohootStructure.cs
  HunterPie.Core/Game/Rise/Definitions/MHRMeowmasterData.cs
  HunterPie.Core/Game/Rise/Definitions/MHRMeowmasterStructure.cs
  HunterPie.Core/Game/Rise/Entities/Activities/MHRCohoot.cs
  HunterPie.Core/Game/Rise/Entities/Activities/MHRMeowmasters.cs
  HunterPie.Core/Game/Rise/Entities/MHRPlayer.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/HunterPie.UI.csproj.user
  HunterPie.UI/Overlay/Widgets/Activities/Presentation/ActivityTemplateSelector.cs
  HunterPie.UI/Overlay/Widgets/Activities/Rise/CohootContextHandler.cs
  HunterPie.UI/Overlay/Widgets/Activities/Rise/MeowcenariesContextHandler.cs
  HunterPie.UI/Overlay/Widgets/Activities/RiseActivitiesWidgetContextHandler.cs
  HunterPie.UI/Overlay/Widgets/Activities/View/ActivitiesView.xaml
  HunterPie.UI/Overlay/Widgets/Activities/View/CohootNestView.xaml
  HunterPie.UI/Overlay/Widgets/Activities/View/CohootNestView.xaml.cs
  HunterPie.UI/Overlay/Widgets/Activities/View/MeowcenariesView.xaml
  HunterPie.UI/Overlay/Widgets/Activities/View/SubmarineView.xaml
  HunterPie.UI/Overlay/Widgets/Activities/View/TrainingDojoView.xaml
  HunterPie.UI/Overlay/Widgets/Activities/ViewModel/CohootNestViewModel.cs
  HunterPie.UI/Overlay/Widgets/Activities/ViewModel/MeowcenariesViewModel.cs
  HunterPie.UI/Overlay/Widgets/Activities/ViewModel/MockActivitiesViewModel.cs
  HunterPie.UI/Resources/Icons.xaml
  HunterPie/Address/MonsterHunterRise.11.0.1.0.map
  HunterPie/Game/Rise/Data/MonsterData.xml
  HunterPie/Languages/en-us.xml
  HunterPie/Properties/AssemblyInfo.cs
Labels: enhancement, core, UI, Rise

#173 Fix(Core|UI): v2.3.0 fixes
  HunterPie.Core/Game/Rise/Definitions/MHRChatMessageStructure.cs
  HunterPie.Core/Game/Rise/Definitions/MHRSubmarineItemStructure.cs
  HunterPie.Core/Game/Rise/Entities/Activities/MHRSubmarine.cs
  HunterPie.Core/Game/Rise/Entities/MHRPlayer.cs
  HunterPie.Core/Game/Rise/Entities/Party/MHRParty.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/Overlay/Widgets/Chat/ChatWidgetContextHandler.cs
  HunterPie.UI/Overlay/Widgets/Chat/Presentation/MemberIndexToColorConverter.cs
  HunterPie.UI/Overlay/Widgets/Chat/ViewModels/ChatElementViewModel.cs
  HunterPie.UI/Overlay/Widgets/Chat/ViewModels/MockChatViewModel.cs
  HunterPie.UI/Overlay/Widgets/Chat/Views/ChatStringView.xaml
  HunterPie/Properties/AssemblyInfo.cs
Labels: bug

#183 Added v11.0.2.0 map to project file
  HunterPie/HunterPie.csproj
Labels: chore
