Repository HunterPie/HunterPie, pull requests merged in 2022-03, with the labels that each got.

#42 Update ko-kr for v.2.0.21
  HunterPie/Languages/ko-kr.xml
Labels: Localization

#44 Add all missing translation in Italian localization.
  HunterPie/Languages/it-it.xml
Labels: Localization

#49 Feat: Support Rise v3.9.1.0
  HunterPie/Address/MonsterHunterRise.3.9.1.0.map
  HunterPie/HunterPie.csproj
  HunterPie/Properties/AssemblyInfo.cs
Labels: core, Rise

#50 Fix(Core): Fixed Process polling, hotkey failing to register
  HunterPie.Core/Address/Map/AddressMap.cs
  HunterPie.Core/System/Windows/MHRProcessManager.cs
  HunterPie.Core/System/Windows/WindowsProcessManager.cs
  HunterPie/App.xaml.cs
  HunterPie/Internal/InitializerManager.cs
  HunterPie/Internal/Initializers/HotkeyInitializer.cs
  HunterPie/MainWindow.xaml.cs
  HunterPie/Properties/AssemblyInfo.cs
Labels: bug, core

#58 Feat: Client settings
  HunterPie.Core.Tests/HunterPie.Core.Tests.csproj
  HunterPie.Core/Client/ConfigManager.cs
  HunterPie.Core/Client/Configuration/ClientConfig.cs
  HunterPie.Core/Client/Configuration/Overlay/AbnormalityWidgetConfig.cs
  HunterPie.Core/Client/Configuration/Overlay/ActivitiesWidgetConfig.cs
  HunterPie.Core/Client/Configuration/Overlay/ChatWidgetConfig.cs
  HunterPie.Core/Client/Configuration/Overlay/DamageMeterWidgetConfig.cs
  HunterPie.Core/Client/Configuration/Overlay/MonsterWidgetConfig.cs
  HunterPie.Core/Client/Configuration/Overlay/TelemetricsWidgetConfig.cs
  HunterPie.Core/Client/Configuration/Overlay/WirebugWidgetConfig.cs
  HunterPie.Core/Client/Events/ConfigSaveEventArgs.cs
  HunterPie.Core/Game/IGame.cs
  HunterPie.Core/Game/Rise/MHRGame.cs
  HunterPie.Core/Game/World/MHWGame.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Core/Settings/IWidgetSettings.cs
  HunterPie.Core/System/Windows/Memory/WindowsMemory.cs
  HunterPie.Core/System/Windows/Native/Kernel32.cs
  HunterPie.Memory/HunterPie.Memory.csproj
  HunterPie.Memory/Program.cs
  HunterPie.UI/Controls/Settings/SettingHost.xaml
  HunterPie.UI/Controls/Settings/SettingHost.xaml.cs
  HunterPie.UI/Controls/Settings/ViewModel/SettingHostViewModel.cs
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/Overlay/Components/WidgetBase.xaml
  HunterPie.UI/Overlay/Components/WidgetBase.xaml.cs
  HunterPie.UI/Overlay/WidgetManager.cs
  HunterPie.UI/Overlay/Widgets/Activities/View/SubmarineView.xaml
  HunterPie.UI/Overlay/Widgets/Activities/View/TrainingDojoView.xaml
  HunterPie/Address/MonsterHunterRise.3.9.1.0.map
  HunterPie/App.xaml.cs
  HunterPie/Languages/en-us.xml
  HunterPie/Properties/AssemblyInfo.cs
  HunterPie/Properties/launchSettings.json
Labels: core, UI, Rise
