Repository HunterPie/HunterPie, pull requests merged in 2022-04, with the labels that each got.

#57 Update ko-kr for v2.0.22
  HunterPie/Languages/ko-kr.xml
Labels: Localization

#56 de-de update for 2.0.22
  HunterPie/Languages/de-de.xml
Labels: Localization

#59 Fix(UI): Fixed memory leak due to infinite animation in HunterPie's Widget Base
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/Overlay/Components/WidgetBase.xaml
  HunterPie/Properties/AssemblyInfo.cs
Labels: bug, core

#66 [koKR] Fix a wrong skill name
  HunterPie/Languages/ko-kr.xml
Labels: Localization

#61 Refactor(Core): Refactored mocked widgets initializer
  HunterPie/Features/Debug/AbnormalityWidgetMocker.cs
  HunterPie/Features/Debug/ActivitiesWidgetMocker.cs
  HunterPie/Features/Debug/ChatWidgetMocker.cs
  HunterPie/Features/Debug/DamageWidgetMocker.cs
  HunterPie/Features/Debug/DebugWidgets.cs
  HunterPie/Features/Debug/IWidgetMocker.cs
  HunterPie/Features/Debug/MonsterWidgetMocker.cs
  HunterPie/Features/Debug/WirebugWidgetMocker.cs
  HunterPie/MainWindow.xaml.cs
Labels: core

#68 Fix(Core): Fixed Abnormalities Tray not saving settings properly when changing them in design mode
  HunterPie.Core/Client/ClientConfig.cs
  HunterPie.Core/Client/ConfigManager.cs
  HunterPie.Core/Client/Configuration/Overlay/AbnormalityWidgetConfig.cs
  HunterPie.Core/Converters/ObservableCollectionConverter.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Core/Settings/Types/AbnormalityTrays.cs
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/Internal/InitializerManager.cs
  HunterPie/Internal/Initializers/ClientConfigBindingsInitializer.cs
  HunterPie/Properties/AssemblyInfo.cs
Labels: bug, core

#70 Feat(Core): Added Poogie API
  HunterPie.Core/API/PoogieApi.cs
  HunterPie.Core/API/Schemas/SessionResSchema.cs
  HunterPie.Core/API/Schemas/VersionResSchema.cs
  HunterPie.Core/Client/ClientConfig.cs
  HunterPie.Core/Client/ConfigManager.cs
  HunterPie.Core/Client/Configuration/Overlay/AbnormalityWidgetConfig.cs
  HunterPie.Core/Converters/ObservableCollectionConverter.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Core/Settings/Types/AbnormalityTrays.cs
  HunterPie.UI/Controls/Settings/ViewModel/SettingHostViewModel.cs
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/Internal/InitializerManager.cs
  HunterPie/Internal/Initializers/ApiPingInitializer.cs
  HunterPie/Internal/Initializers/ClientConfigBindingsInitializer.cs
  HunterPie/Properties/AssemblyInfo.cs
  HunterPie/Update/Remote/UpdateApi.cs
Labels: core

#62 Feat(UI): Redesign Keybinding control
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.UI/Controls/Buttons/Keybinding.xaml
  HunterPie.UI/Controls/Buttons/Keybinding.xaml.cs
  HunterPie.UI/HunterPie.UI.csproj
Labels: enhancement, UI

#72 Feat(Core): MHW damage meter
  HunterPie.Core.Tests/Game/World/Crypto/TestMHWCrypto.cs
  HunterPie.Core.Tests/HunterPie.Core.Tests.csproj
  HunterPie.Core/Client/Configuration/Overlay/DamageMeterWidgetConfig.cs
  HunterPie.Core/Extensions/ColorExtensions.cs
  HunterPie.Core/Game/Client/IParty.cs
  HunterPie.Core/Game/Client/IPartyMember.cs
  HunterPie.Core/Game/IGame.cs
  HunterPie.Core/Game/Rise/Entities/MHRPartyMember.cs
  HunterPie.Core/Game/Rise/Entities/Party/MHRParty.cs
  HunterPie.Core/Game/Rise/MHRGame.cs
  HunterPie.Core/Game/World/Crypto/MHWCrypto.cs
  HunterPie.Core/Game/World/Definitions/MHWPartyMemberData.cs
  HunterPie.Core/Game/World/Entities/MHWPlayer.cs
  HunterPie.Core/Game/World/Entities/Party/MHWParty.cs
  HunterPie.Core/Game/World/Entities/Party/MHWPartyMember.cs
  HunterPie.Core/Game/World/MHWGame.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Core/Settings/Types/Color.cs
  HunterPie.UI/Architecture/Converters/DoubleToDecimalConverter.cs
  HunterPie.UI/Architecture/Converters/SecondsToTimeString.cs
  HunterPie.UI/Architecture/Converters/WeaponToIconConverter.cs
  HunterPie.UI/Architecture/Test/MockBehavior.cs
  HunterPie.UI/Controls/Buttons/ColorPicker.xaml
  HunterPie.UI/Controls/Buttons/ColorPicker.xaml.cs
  HunterPie.UI/Controls/Settings/Custom/AbnormalityTrayList.xaml.cs
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/HunterPie.UI.csproj.user
  HunterPie.UI/Overlay/Widgets/Damage/DamageMeterWidgetContextHandler.cs
  HunterPie.UI/Overlay/Widgets/Damage/Helpers/PlayerConfigHelper.cs
  HunterPie.UI/Overlay/Widgets/Damage/View/MeterView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/View/MeterView.xaml.cs
  HunterPie.UI/Overlay/Widgets/Damage/View/PlayerDamageView.xaml
  HunterPie.UI/Overlay/Widgets/Damage/ViewModel/MeterViewModel.cs
  HunterPie.UI/Overlay/Widgets/Damage/ViewModel/MockMeterViewModel.cs
  HunterPie.UI/Overlay/Widgets/Monster/MonsterWidgetContextHandler.cs
  HunterPie.UI/Settings/Internal/ColorVisualConverter.cs
  HunterPie.UI/Settings/VisualConverterManager.cs
  HunterPie/Address/MonsterHunterWorld.421471.map
  HunterPie/Features/Debug/DamageWidgetMocker.cs
  HunterPie/Features/Overlay/DamageWidgetInitializer.cs
  HunterPie/Features/Overlay/WidgetInitializers.cs
  HunterPie/Game/World/Data/AbnormalityData.xml
  HunterPie/Integrations/Discord/WorldRichPresence.cs
  HunterPie/Properties/AssemblyInfo.cs
Labels: enhancement, core, World

#73 Feat(Core): Map MHW abnormalities
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie/Game/World/Data/AbnormalityData.xml
  HunterPie/Languages/en-us.xml
Labels: core, World
