Repository HunterPie/HunterPie, pull requests merged in 2023-02, with the labels that each got.

#356 Fix(Core): Wrong player gets removed from party when someone leaves
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Integrations/Datasources/MonsterHunterWorld/Entity/Player/MHWPlayer.cs
  HunterPie.Integrations/HunterPie.Integrations.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/AssemblyInfo.cs
Labels: bug, game: world

#357 Fix(Core): Duplicate character names breaks MHR party
  HunterPie.Integrations/Datasources/MonsterHunterRise/Definitions/MHRPartyMemberData.cs
  HunterPie.Integrations/Datasources/MonsterHunterRise/Entity/Party/MHRParty.cs
  HunterPie.Integrations/Datasources/MonsterHunterRise/Entity/Party/MHRPartyMember.cs
  HunterPie.Integrations/HunterPie.Integrations.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/AssemblyInfo.cs
Labels: bug, scope: core, game: rise

#364 Fix(Core|UI): Common exceptions
  HunterPie.Core/Networking/Http/HttpClientBuilder.cs
  HunterPie.UI/Controls/Buttons/Keybinding.xaml.cs
  HunterPie/App.xaml.cs
  HunterPie/Update/UpdateUseCase.cs
Labels: bug

#365 Feat(Core): Added MHR companions damage tracking
  HunterPie.Core/Client/Configuration/Overlay/DamageMeterWidgetConfig.cs
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Integrations/Datasources/MonsterHunterRise/Definitions/MHRPartyMemberData.cs
  HunterPie.Integrations/Datasources/MonsterHunterRise/Entity/Player/Entities/PartyMemberMetadata.cs
  HunterPie.Integrations/Datasources/MonsterHunterRise/Entity/Player/MHRPlayer.cs
  HunterPie.Integrations/HunterPie.Integrations.csproj
  HunterPie.Memory/Program.cs
  HunterPie.Native/Games/Rise/Damage/hooks.cpp
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie.UI/Overlay/Widgets/Damage/Helpers/PlayerConfigHelper.cs
  HunterPie/Address/MonsterHunterRise.13.0.0.1.map
Labels: enhancement

#366 Feat(Core): Added support for v14.0.0.0
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Integrations/HunterPie.Integrations.csproj
  HunterPie.Memory/Program.cs
  HunterPie.Native/Games/Rise/Utils/RiseUtils.cpp
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/Address/MonsterHunterRise.14.0.0.0.map
  HunterPie/Game/Rise/Data/AbnormalityData.xml
  HunterPie/Game/Rise/Data/MonsterData.xml
  HunterPie/HunterPie.csproj
  HunterPie/Properties/AssemblyInfo.cs
Labels: enhancement, scope: core, game: rise

#373 Fix(Data): Fixed new monsters data
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Integrations/HunterPie.Integrations.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/Game/Rise/Data/MonsterData.xml
  HunterPie/Properties/AssemblyInfo.cs
Labels: scope: data

#374 Feat(Data|Core): Add infinite MHW buffs support
  HunterPie.Core/HunterPie.Core.csproj
  HunterPie.Integrations/Datasources/MonsterHunterWorld/Entity/Player/MHWAbnormality.cs
  HunterPie.Integrations/Datasources/MonsterHunterWorld/Entity/Player/MHWPlayer.cs
  HunterPie.Integrations/HunterPie.Integrations.csproj
  HunterPie.UI/HunterPie.UI.csproj
  HunterPie/App.xaml.cs
  HunterPie/Game/World/Data/AbnormalityData.xml
  HunterPie/Properties/AssemblyInfo.cs
Labels: scope: core, game: world, scope: data

#375 Docs: Add v2.7.0 patch notes
  Docs/_posts/2023-02-09-update-v2.7.0.md
Labels: documentation

#378 Feat(UI): Add support for Wirebug states in Wirebug Widget
  HunterPie.Integrations/Datasources/MonsterHunterRise/Entity/Enums/WirebugState.cs
  HunterPie.Integrations/Datasources/MonsterHunterRise/Entity/Player/MHRPlayer.cs
  HunterPie.UI/Architecture/Converters/WirebugStateToColorConverter.cs
  HunterPie.UI/Architecture/Converters/WirebugStateToIconConverter.cs
  HunterPie.UI/Overlay/Widgets/Wirebug/Views/WirebugView.xaml
  HunterPie.UI/Resources/Abnormalities.xaml
  HunterPie.UI/Resources/Colors.xaml
  HunterPie.UI/Resources/Icons.xaml
Labels: scope: ui, game: rise

#269 Feat(UI): Hunt summary UI
  HunterPie.UI/Architecture/Converters/BoolPickConverter.cs
  HunterPie.UI/Architecture/Converters/ParentSizePercentageConverter.cs
  HunterPie.UI/Controls/Image/Icon.xaml
  HunterPie.UI/Controls/Image/Icon.xaml.cs
  HunterPie.UI/Resources/Icons.xaml
  HunterPie/Domain/Sidebar/SideBar.cs
  HunterPie/Features/Statistics/ViewModels/AbnormalitySummaryViewModel.cs
  HunterPie/Features/Statistics/ViewModels/HuntSummaryViewModel.cs
  HunterPie/Features/Statistics/ViewModels/MockHuntSummaryViewModel.cs
  HunterPie/Features/Statistics/ViewModels/PartyMemberSummaryViewModel.cs
  HunterPie/Features/Statistics/Views/HuntSummaryView.xaml
  HunterPie/Features/Statistics/Views/HuntSummaryView.xaml.cs
  HunterPie/Features/Statistics/Views/MonsterSummaryView.xaml
  HunterPie/Features/Statistics/Views/MonsterSummaryView.xaml.cs
  HunterPie/Features/Statistics/Views/PartyMemberSummaryView.xaml
  HunterPie/Features/Statistics/Views/PartyMemberSummaryView.xaml.cs
  HunterPie/GUI/Parts/Sidebar/ViewModels/HuntSummarySideBarElementViewModel.cs
  HunterPie/HunterPie.csproj.user
  HunterPie/MainWindow.xaml
  HunterPie/Properties/AssemblyInfo.cs
  Scripts/tests/gen_hunt_statistics_test.py
Labels: scope: ui, feat: account
